services:
  freeradius:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: freeradius
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_PORT=${DB_PORT}
      - DB_DIALECT=${DB_DIALECT}
      - DB_NAME=${DB_NAME}
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"